body {
    font-family: 'Roboto', sans-serif !important;
}

#main {
    background-color: #cbcbcb;
    color: #2e2e2e !important;
    /* height: 1000px; */
    padding-top: 60px;
}

.container {
    text-align: center;
}

.btn-group {
    width: 100%;
}