body {
    font-family: 'Roboto', sans-serif !important;
}

#main {
    background-color: #cbcbcb;
    color: #2e2e2e !important;
    padding-top: 80px;
    padding-bottom: 100px;
}

.container {
    text-align: center;
}

#cost-sheet {
    /* height: 20rem; */
    background-color: blanchedalmond;
    /* margin-bottom: 20px; */
    /* border-top: grey solid 5px; */
    /* border-bottom: grey solid 5px; */
}

#style-tag {
    /* height: 20rem; */
    background-color: #2e2e2e;
    color: #cbcbcb;
    /* border-top: blanchedalmond solid 5px; */
    /* border-bottom: blanchedalmond solid 5px; */
}

#costing-image {
    width: 19rem;
    height: 19rem;
    object-fit: contain;
    /* border: 2px solid #2e2e2e; */
}

#styling-image {
    width: 19rem;
    height: 19rem;
    object-fit: contain;
}

#costing-button {
    width: 100%;
}

#styling-button {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    #cost-sheet {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 700px) {
    #style-tag {
        padding-bottom: 20px;
    }
}