body {
    font-family: 'Roboto', sans-serif !important;
}

#main {
    background-color: #cbcbcb;
    color: #2e2e2e !important;
    /* height: 1000px; */
    padding-top: 70px;
    width: 100%;
}

.container {
    text-align: center;
}

.card {
    background-color: #fbf7f1 !important;
    transition: 500ms;
    border-radius: 1px !important;
}

/* .sample-card {
    border: #d4a37d solid 5px !important; 
}

.production-card {
    border: #e8d9cc solid 5px !important; 
} */

.card:hover {
    transform: scale(1.025);
    background-color: #f8f2e0 !important;
}

.style-image {
    padding-top: 20px;
    height: 250px;
    object-fit: contain;
}

.style-card {
    margin-bottom: 20px;
}

.style-card-text-head {
    font-weight: 600;
}

.secondary-text {
    font-size: 0.6rem;
}

.add-style-card {
    border: #f2ebd6 solid 10px !important;
    width: 18rem; 
    height: 473.5px !important; 
    padding-top: 185px;
    margin-bottom: 20px;
}

.add-style-card:hover {
    background-color: #d4a37d !important;
    padding-top: 180px; 
}

.add-style-card span {
    transition: 500ms;
    font-size: 40px;
    color: #d4a37d;
}

.add-style-card:hover span {
    font-size: 50px;
    color: #f2ebd6;
}

.main-buttons {
    background-color: #d4a37d !important;
    border: #fbf7f1 1px solid !important;
    /* font-size: small !important; */
}

.modal-content {
    background-color: #fbf7f1 !important;
    text-align: center;
    font-size: 0.65rem !important;
}

.modal-headings {
    font-weight: 700;
}

#modal-image-column {
    margin: auto;
}

.detailed-image {
    width: 100%;
    height: 12rem;
    object-fit: contain;
}

.modal-content-rows {
    border-bottom: #2e2e2e solid 1px;
}

#track-button {
    background-color: #d4a37d;
    color: white;
}

#color-definition {
    margin-bottom: 13px;
}

#search-bar {
    margin-bottom: 13px;
}

#sample-color {
    width: 30px;
    height: 30px;
    border: solid 2px white;
    background-color: #e8d9cc;
    border-radius: 5px;
    display: inline-block;
}

#production-color {
    width: 30px;
    height: 30px;
    border: solid 2px white;
    background-color: #d4a37d;
    border-radius: 5px;
    display: inline-block;
}

#sample-text {
    text-align: start;
    display: inline-block;
    padding-right: 50px;
    padding-left: 0;
    margin-top: 2px;
    margin-bottom: auto;
    font-weight: 800;
}

#production-text {
    text-align: start;
    display: inline-block;
}

#random-testing {
    text-align: end;
    padding-right: 60px;
}

#trackIndicatorDot {
    width: 10px; 
    height: 10px; 
    background-color: green; 
    border-radius: 50%; 
    display: inline-block;
}

#trackIndicatorText {
    display: inline-block;
}

#trackingLogoRow {
    text-align: center;
}

.trackingLogos {
    padding: 0;
}

@media only screen and (max-width: 360px) {
    .horizontal-lines {
        width: 21% !important;
    }
}

@media only screen and (max-width: 315px) {
    .horizontal-lines {
        width: 20% !important;
    }
}

@media print {
    body * {
        visibility: hidden;
    }
    iframe, iframe * {
        visibility: visible;
    }
    iframe * {
        position: absolute;
        left: 0;
        top: 0;
    }
}